<!-- HERO -->
<section class="hero">
  <div class="container">
    <ul class="hero-list">
      <li class="hero-list-item">
        <a href="#" class="hero-list-link">
          <div class="hero-list-wrapper">
            <img
              class="hero-list-img"
              src="../img/hero/mobile/picture_1@1x.jpg"
              alt=""
            />
          </div>
          <p class="hero-list-description">
            Коти та їхні чудові навички: від полювання до загадкових здібностей
          </p>
        </a>
      </li>
      <li class="hero-list-item">
        <a href="#" class="hero-list-link">
          <div class="hero-list-wrapper">
            <img
              class="hero-list-img"
              src="../img/hero/mobile/picture_2@1x.jpg"
              alt=""
            />
          </div>
          <p class="hero-list-description">
            Коти та їхні чудові навички: від полювання до загадкових здібностей
          </p>
        </a>
      </li>
      <li class="hero-list-item">
        <a href="#" class="hero-list-link">
          <div class="hero-list-wrapper">
            <img
              class="hero-list-img"
              src="../img/hero/mobile/picture_3@1x.jpg"
              alt=""
            />
          </div>
          <p class="hero-list-description">
            Коти та їхні чудові навички: від полювання до загадкових здібностей
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
