.header {
  color: var(--orange-color);
  padding: 8px;
}
.nav-link {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.67;
  color: inherit;
}

.nav-link::before {
  content: '';

  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-image: url('../img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}
