/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./variables.css');
@import url('./reset.css');
@import url('./container.css');
@import url('./header.css');
@import url('./hero.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none; */
}
